USE [ConsommationDW]
GO
/****** Object:  User [NT SERVICE\MSSQLServerOLAPService]    Script Date: 12/11/2018 14:27:24 ******/
CREATE USER [NT SERVICE\MSSQLServerOLAPService] FOR LOGIN [NT SERVICE\MSSQLServerOLAPService] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [NT SERVICE\MSSQLServerOLAPService]
GO
/****** Object:  Table [dbo].[DimClient]    Script Date: 12/11/2018 14:27:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimClient](
	[client_PK] [int] NOT NULL,
	[nomClient] [nvarchar](20) NOT NULL,
	[typeClient] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_DimClient] PRIMARY KEY CLUSTERED 
(
	[client_PK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimLocalisation]    Script Date: 12/11/2018 14:27:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimLocalisation](
	[localisation_PK] [int] NOT NULL,
	[codeMachine] [nvarchar](20) NOT NULL,
	[local] [nvarchar](50) NOT NULL,
	[codeBatiment] [int] NOT NULL,
	[libelleBatiment] [nvarchar](50) NOT NULL,
	[occupantsBatiment] [int] NOT NULL,
	[proprietaire_FK] [int] NOT NULL,
 CONSTRAINT [PK_DimLocalisation] PRIMARY KEY CLUSTERED 
(
	[localisation_PK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimProprietaire]    Script Date: 12/11/2018 14:27:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimProprietaire](
	[proprietaire_PK] [int] NOT NULL,
	[proprietaireMachine] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_DimProprietaire] PRIMARY KEY CLUSTERED 
(
	[proprietaire_PK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimTemps]    Script Date: 12/11/2018 14:27:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimTemps](
	[temps_PK] [int] NOT NULL,
	[date] [date] NOT NULL,
	[jour] [int] NOT NULL,
	[numJourAnnee] [int] NOT NULL,
	[nomJour] [nvarchar](50) NOT NULL,
	[jourSemaine] [int] NOT NULL,
	[typeJour] [nvarchar](50) NOT NULL,
	[numSem] [int] NOT NULL,
	[mois] [int] NOT NULL,
	[codeMois] [nvarchar](50) NULL,
	[nomMois] [nvarchar](50) NOT NULL,
	[annee] [int] NOT NULL,
 CONSTRAINT [PK_DimTemps] PRIMARY KEY CLUSTERED 
(
	[temps_PK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FaitConsommation]    Script Date: 12/11/2018 14:27:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FaitConsommation](
	[consommation_PK] [int] NOT NULL,
	[localisation_FK] [int] NOT NULL,
	[temps_FK] [int] NOT NULL,
	[client_FK] [int] NOT NULL,
	[nbCafe] [int] NOT NULL,
	[nbChocolat] [int] NOT NULL,
 CONSTRAINT [PK_FaitConsommation] PRIMARY KEY CLUSTERED 
(
	[consommation_PK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DimClient] ([client_PK], [nomClient], [typeClient]) VALUES (1, N'Louis D.', N'Etudiant')
INSERT [dbo].[DimClient] ([client_PK], [nomClient], [typeClient]) VALUES (2, N'Jeanne S.', N'Personnel')
INSERT [dbo].[DimClient] ([client_PK], [nomClient], [typeClient]) VALUES (3, N'Adam F.', N'Etudiant')
INSERT [dbo].[DimLocalisation] ([localisation_PK], [codeMachine], [local], [codeBatiment], [libelleBatiment], [occupantsBatiment], [proprietaire_FK]) VALUES (1, N'12DR2214', N'Hall d''entrée IF', 1, N'Blaise Pascal', 810, 1)
INSERT [dbo].[DimLocalisation] ([localisation_PK], [codeMachine], [local], [codeBatiment], [libelleBatiment], [occupantsBatiment], [proprietaire_FK]) VALUES (2, N'15DR2217', N'salle café IF', 1, N'Blaise Pascal', 810, 1)
INSERT [dbo].[DimLocalisation] ([localisation_PK], [codeMachine], [local], [codeBatiment], [libelleBatiment], [occupantsBatiment], [proprietaire_FK]) VALUES (3, N'1156CC', N'Hall d''entrée IF', 1, N'Blaise Pascal', 810, 2)
INSERT [dbo].[DimProprietaire] ([proprietaire_PK], [proprietaireMachine]) VALUES (1, N'Ste Cafechaud')
INSERT [dbo].[DimProprietaire] ([proprietaire_PK], [proprietaireMachine]) VALUES (2, N'CafetInsa')
INSERT [dbo].[DimProprietaire] ([proprietaire_PK], [proprietaireMachine]) VALUES (3, N'LesExpress')
INSERT [dbo].[DimTemps] ([temps_PK], [date], [jour], [numJourAnnee], [nomJour], [jourSemaine], [typeJour], [numSem], [mois], [codeMois], [nomMois], [annee]) VALUES (20170101, CAST(N'2017-01-01' AS Date), 1, 1, N'Dimanche', 7, N'Weekend', 1, 1, N'201701', N'janvier 2017', 2017)
INSERT [dbo].[DimTemps] ([temps_PK], [date], [jour], [numJourAnnee], [nomJour], [jourSemaine], [typeJour], [numSem], [mois], [codeMois], [nomMois], [annee]) VALUES (20170102, CAST(N'2017-01-02' AS Date), 2, 2, N'Lundi', 1, N'jour ouvrable', 2, 1, N'201701', N'Janvier 2017', 2017)
INSERT [dbo].[DimTemps] ([temps_PK], [date], [jour], [numJourAnnee], [nomJour], [jourSemaine], [typeJour], [numSem], [mois], [codeMois], [nomMois], [annee]) VALUES (20170103, CAST(N'2017-01-03' AS Date), 3, 3, N'Mardi', 2, N'jour ouvrable', 2, 1, N'201701', N'janvier 2017', 2017)
GO
INSERT [dbo].[FaitConsommation] ([consommation_PK], [localisation_FK], [temps_FK], [client_FK], [nbCafe], [nbChocolat]) VALUES (1, 11, 20180211, 2, 1, 3)
INSERT [dbo].[FaitConsommation] ([consommation_PK], [localisation_FK], [temps_FK], [client_FK], [nbCafe], [nbChocolat]) VALUES (2, 4, 20180219, 1, 4, 0)
INSERT [dbo].[FaitConsommation] ([consommation_PK], [localisation_FK], [temps_FK], [client_FK], [nbCafe], [nbChocolat]) VALUES (3, 8, 20180215, 4, 0, 1)
GO
ALTER TABLE [dbo].[DimLocalisation]  WITH CHECK ADD  CONSTRAINT [FK_DimLocalisation_DimProprietaire] FOREIGN KEY([proprietaire_FK])
REFERENCES [dbo].[DimProprietaire] ([proprietaire_PK])
GO
ALTER TABLE [dbo].[DimLocalisation] CHECK CONSTRAINT [FK_DimLocalisation_DimProprietaire]
GO
ALTER TABLE [dbo].[FaitConsommation]  WITH CHECK ADD  CONSTRAINT [FK_FaitConsommation_DimClient] FOREIGN KEY([client_FK])
REFERENCES [dbo].[DimClient] ([client_PK])
GO
ALTER TABLE [dbo].[FaitConsommation] CHECK CONSTRAINT [FK_FaitConsommation_DimClient]
GO
ALTER TABLE [dbo].[FaitConsommation]  WITH CHECK ADD  CONSTRAINT [FK_FaitConsommation_DimLocalisation] FOREIGN KEY([localisation_FK])
REFERENCES [dbo].[DimLocalisation] ([localisation_PK])
GO
ALTER TABLE [dbo].[FaitConsommation] CHECK CONSTRAINT [FK_FaitConsommation_DimLocalisation]
GO
ALTER TABLE [dbo].[FaitConsommation]  WITH CHECK ADD  CONSTRAINT [FK_FaitConsommation_DimTemps] FOREIGN KEY([temps_FK])
REFERENCES [dbo].[DimTemps] ([temps_PK])
GO
ALTER TABLE [dbo].[FaitConsommation] CHECK CONSTRAINT [FK_FaitConsommation_DimTemps]
GO
